numpy==1.26
open3d==0.18.0
faiss-gpu==1.7.2
wandb
trimesh
pytorch_msssim
torchmetrics
tqdm
imageio
opencv-python
plyfile
submodules/evaluate-3d-reconstruction-lib
submodules/simple-knn
submodules/gaussian-rasterizer
# git+https://github.com/eriksandstroem/evaluate_3d_reconstruction_lib.git@9b3cc08be5440db9c375cc21e3bd65bb4a3
# git+https://github.com/VladimirYugay/simple-knn.git@c7e51a06a4cd84c25e769fee29ab391fe5d5ff8d
# git+https://github.com/VladimirYugay/gaussian_rasterizer.git@9c40173fcc8d9b16778a1a8040295bc2f9ebf129
